Package: com.example.lineadblocker
Name: LINE AdBlocker
Version: 0.1.6
Architecture: iphoneos-arm
Description: Suppresses LINE first-party and Google ad views.
Maintainer: local
Author: local
Section: Tweaks
